.cardContainer{
    color: white;
    background-color: rgb(113, 39, 31);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 200px;
    height: 25%;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: 3px solid white;
}

img {
    border: 3px solid white;
    border-radius: 8px;
    width: 90%;
    height: auto;
    background-color: #ffeec4;
}